[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "vim/bundle/textile"]
	path = vim/bundle/textile
	url = https://github.com/timcharper/textile.vim.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
