snippet copy "copy statement" b
${1:filter}${1/.+/::/}
  /usr/local/imvu/svn_configs/operations/${2:source} dest=/${3:destination/directory}/${2/.*\///}
  mode=555
  owner=root
  group=root
  backup=false
  server=${cfserver}
  type=checksum

endsnippet
