snippet sub "subroutine" b!
sub ${1:funcname} {
    my (${2:param}) = @_;

    ${3:body}
}
endsnippet

snippet uimvu "use Imvu" b
use Imvu;

endsnippet

snippet uadb "use AssetDB" b
use Imvu::AssetDB;

endsnippet
