snippet sub "subroutine" b!
sub ${1:funcname} {
    my (${2:param}) = @_;

    ${3:body}
}

endsnippet

snippet uimvu "use Imvu" b
use Imvu;

endsnippet

snippet uadb "use AssetDB" b
use Imvu::AssetDB;

endsnippet

snippet "my $adb" "instantiate $adb" b
my $adb = Imvu::AssetDB->new;

endsnippet

snippet when "when clause" b
when ($1) {
    $2
}

endsnippet

snippet default "default clause" b
default {
    $1
}

endsnippet
